[user]
	email = hamster.of.dev@gmail.com
	name = Hans Meyer

[core]
    editor = vim

[alias]
	today = log --graph --all --since=\"yesterday.midnight\" --author=\"$(git config user.name)\" --pretty
    co = checkout
